<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>

<body class="bg-light" onload="jusoCallBack('우편번호','도로명주소')">

<!-- 네비게이션바-->
<div th:replace="fragments.html :: main-nav"></div>

<!--메일 인증 경고창-->
<div class="alert alert-warning" role="alert" th:if="${account != null && !account.emailVerified}">
    금산인삼 온라인매장 가입을 완료하려면 <a class="alert-link" th:href="@{/check-email}">계정 인증 이메일을 확인</a>하세요.
</div>
<!--메인 화면-->
<div class="container">
    <div class="row justify-content-center">
        <form class="needs-validation col-sm-7" action="#" th:action="@{/order}"
              th:object="${orderForm}" method="post" novalidate>

            <h6>주문 내역</h6>
            <table id="order_product">
                <tr style="height: 33px;">
                    <td class="size_lg">주문상품</td>
                    <td class="size_sm">수량</td>
                    <td class="size_md">판매가</td>
                    <td class="size_md">합계</td>
                </tr>
                <tr style="height: 63px;">
                    <td th:text="${product.name}"></td>
<!--                    <td th:text="${product.amount}">1</td>-->
                    <td>1</td>
                    <td th:text="${product.price}">asdf</td>
                    <td th:text="1 * ${product.price}">asdf</td>
                </tr>
                <tr style="height: 33px;">
                    <td colspan="4" style="text-align: end">총 결제 금액 : 50000원</td>
                </tr>
            </table>

            <div class="form-group form-inline">
<!--                <p th:text="${product.name}"></p>-->

                <input id="orderItem" type="hidden" name="orderItem" class="form-control"
                       th:value="${product.getName()}" required>

<!--                <label for="orderItems"> 주문 품목 : </label>-->
<!--                <input id="orderItems" type="hidden" name="orderItems" class="form-control"-->
<!--                       th:field="*{orderItems}" required>-->
            </div>

            <hr>
            <h6>주문자 정보</h6>
            <div class="form-group form-inline">
                <table>
                    <tr>
                        <td class="formLabel">
                            <label for="username">받는사람</label>
                        </td>
                        <td class="formInput">
                            <input id="username" type="text" name="username" class="form-control"
                                   th:field="*{recipient}" required>
                        </td>
                    </tr>
                    <tr>
                        <td class="formLabel">
                            <label for="phoneNumber">전화번호</label>
                        </td>
                        <td class="formInput">
                            <input id="phoneNumber" type="text" name="phoneNumber" class="form-control"
                                   th:field="*{phoneNumber}" required>
                        </td>
                    </tr>
                    <tr>
                        <td class="formLabel">
                            <label for="email">이메일</label>
                        </td>
                        <td class="formInput">
                            <input id="email" type="text" name="email" class="form-control" style="width:100%;"
                                   th:field="*{email}" required>
                        </td>
                    </tr>
                </table>
            </div>

            <hr>
            <h6>배송 정보</h6>
            <div class="form-group form-inline">
                <table>
                    <tr>
                        <td class="formLabel">
                            <label>배송주소</label>
                        </td>
                        <td class="formInput">
                            <input id="zipNo" type="text" name="zipNo" class="form-control mb-2" placeholder="우편번호"
                                   th:field="*{zipCode}" th:value="${param.zipNo}" required>
                            <button type="button" id="search_btn" onclick="goPopup()">주소 찾기</button>
                            <input id="roadFullAddr" type="text" name="roadFullAddr" class="form-control" placeholder="도로명주소"
                                   th:field="*{street}" required>

                        </td>
                    </tr>
                    <tr>
                        <td class="formLabel">
                            <label for="requirement">배송 시 요구사항</label>
                        </td>
                        <td class="formInput">
                            <input id="requirement" type="text" name="requirement" class="form-control" style="width:100%;"
                                   th:field="*{requirement}" required>
                        </td>
                    </tr>
                </table>
            </div>

            <hr>

            <h6>결제 정보</h6>
            <div class="form-group form-inline">
                <input id="price" type="hidden" name="price" class="form-control"
                       value="price" required>
                <table style="width:100%;">
                    <tr>
                        <td class="formLabel" style="width:25%;">
                            <label>결제수단</label>
                        </td>
                        <td class="formInput" style="width:75%;">
                            <input id="credit" type="radio" class="form-control"
                                   th:field="*{pgKind}" th:value="credit" required>신용카드
                            <input id="deposit" type="radio" class="form-control"
                                   th:field="*{pgKind}" th:value="deposit" required>무통장입금
                            <input id="kkopay" type="radio" class="form-control"
                                   th:field="*{pgKind}" th:value="kkopay" required>kkopay
                            <input id="npay" type="radio" class="form-control"
                                   th:field="*{pgKind}" th:value="npay" required>npay
                        </td>
                    </tr>
                </table>
            </div>

            <div id="totalPrice">
                <p>최종 결제 금액</p>
                <p>50000원</p>
            </div>

            <div class="form-group">
                <button class="btn btn-success btn-block" type="submit"
                        aria-describedby="submitHelp">결제하기</button>
                <small id="submitHelp" class="form-text text-muted">
                    결제합니다.
                </small>
            </div>
        </form>
    </div>
    <!-- 푸터-->
    <div th:replace="fragments.html :: footer"></div>
</div>
<div sec:authorize="isAuthenticated()">
    <script th:replace="fragments.html :: ajax-csrf-header"></script>
</div>
<script th:inline="javascript" charset="utf-8">
    function jusoCallBack(zipNo,roadFullAddr){
// 도로명주소검색팝업창에서 결과를 리턴하는 스크립트로 빨간 라인은 해당 시스템에 맞게 수정하여 사용
//2017년 2월 제공항목이 확대되었습니다. 원하시는 항목을 추가하여 사용하시면 됩니다.
        document.getElementById('roadFullAddr').value = roadFullAddr;
        document.getElementById('zipNo').value = zipNo;
        /*<![CDATA[*/
        var inputYn = /*[[${param.inputYn}]]*/ 'default';
        /*]]>*/
        document.domain = "localhost";
        if(JSON.stringify(inputYn)==JSON.stringify(['Y'])) {

            /*<![CDATA[*/
            var fullAddr = /*[[${param.roadFullAddr}]]*/ 'default';
            var zipNum = /*[[${param.zipNo}]]*/ 'default';
            /*]]>*/
            opener.jusoCallBack(zipNum,fullAddr);
            window.close();
        }
    }
</script>
<script th:inline="javascript" charset="utf-8">
    function goPopup() {
        var returnUrl=location.href;
        /*<![CDATA[*/
        var inputYn = /*[[${param.inputYn}]]*/ 'default';
        /*]]>*/
        if(JSON.stringify(inputYn)!=JSON.stringify(['Y'])) {
            var confmKey="U01TX0FVVEgyMDIwMDUyMTE5MzE1NTEwOTc4NzU=";
            var resultType = "4";
            url="http://www.juso.go.kr/addrlink/addrLinkUrl.do?confmKey="+confmKey+"&returnUrl="+returnUrl+"&resultType="+resultType;
            window.open(url, "pop", "width=870,height=820, scrollbars=yes, resizable=yes");
        }
    }
</script>

</body>
</html>