<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>

<body class="bg-light">
<!-- 네비게이션바-->
<div th:replace="fragments.html :: main-nav"></div>

<!--메일 인증 경고창-->
<div class="alert alert-warning" role="alert" th:if="${account != null && !account.emailVerified}">
    금산인삼 온라인매장 가입을 완료하려면 <a class="alert-link" th:href="@{/check-email}">계정 인증 이메일을 확인</a>하세요.
</div>
<!--메인 화면-->
<div class="container">
    <div class="py-5 text-center">
        <h2>건강한 홍삼군 상품 리뷰</h2>
    </div>

    <!-- 푸터-->
    <div th:replace="fragments.html :: footer"></div>
</div>

</body>
</html>