<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>

<body class="bg-light">
<!-- 네비게이션바-->
<div th:replace="fragments.html :: main-nav"></div>

<!--메일 인증 경고창-->
<div class="alert alert-warning" role="alert" th:if="${account != null && !account.emailVerified}">
    금산인삼 온라인매장 가입을 완료하려면 <a class="alert-link" th:href="@{/check-email}">계정 인증 이메일을 확인</a>하세요.
</div>

<!--메인 화면-->
<div class="container">
    <!--  margin-top:5    -->
    <div class="row mt-5 justify-content-center">
        <div class="col-2">
            <div th:replace="fragments.html :: mypage-menu(currentMenu='cart')"></div>
        </div>
        <div class="col-8">
            <p>장바구니</p>

            <div style="margin-bottom:3px;">
                <button class="btn btn-secondary btn-sm" th:onclick="check([[*{cartList}]])">전체선택</button>
                <button class="btn btn-secondary btn-sm">선택삭제</button>
            </div>


                <table class="table table-bordered table-hover text-center">
                    <tr>
                        <th class="size_sm">선택</th>
                        <th class="size_bg">주문상품</th>
                        <th class="size_md">판매가</th>
                        <th class="size_sm">수량</th>
                        <th class="size_md">합계</th>
                    </tr>

<!--                    <tr th:each="product: ${cartList}" th:object="${cartObject}" action="#" id="cartForm" method="post">-->
                    <tr th:each="product, index: ${cartList}">
                        <td><input type="checkbox"></td>
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.price}+'원'"></td>
                        <td>
                            <div id="number_plus_minus">
                            <button id="btn_minus" onclick="updateInput(this.id)">-</button>
                            <input id="amount" type="text" value=1 class="text-center">
                            <button id="btn_plus" onclick="updateInput(this.id)">+</button>
                            </div>
                        </td>
                        <td th:text="${product.price} * 1 +'원'">판매가 * 수량</td>
                    </tr>

                    <tr>
                        <td colspan="5" class="text-right"> 상품 구매 금액 ${} + 배송비 ${} = 전체 합계 ${} </td>
                    </tr>
                </table>


            <div align="right">
                <button class="btn btn-info btn-lg">전체상품 주문하기</button>
                <button class="btn btn-info btn-lg">선택상품 주문하기</button>
                <button class="btn btn-secondary btn-lg">계속 쇼핑하기</button>
            </div>

        </div>
    </div>

    <!-- 푸터-->
    <div th:replace="fragments.html :: footer"></div>

</div>


<script th:replace="fragments.html :: form-validation"></script>

<!--<script>-->
<!--    var checkFlag = 'false'; // false면 전체선택, true이면 전체해제-->

<!--    function check(field) {-->
<!--        if(checkFlag == 'false') {-->
<!--            for(i = 0; i < 2; i++) {-->
<!--                field[i].checked = true; // 모든 체크박스를 체크한다.-->
<!--            }-->
<!--            checkFlag = "true";-->
<!--            return "전체 해제"; // 버튼객체의 value속성으로 반환(this.value.list로 넘겨져왔기 때문에)-->
<!--        } else {-->
<!--            for(i = 0; i < 2; i++) {-->
<!--                field[i].checked = false; // 모든 체크박스를 해제한다.-->
<!--            }-->
<!--            checkFlag = "false";-->
<!--            return "전체 선택"; // 버튼객체의 vaule속성으로 반환-->
<!--        }-->
<!--    }-->
<!--</script>-->

<script>
    function updateInput(id) {
        if(id == "btn_plus"){
            num = Number(document.getElementById("amount").value)+1;
            document.getElementById("amount").value = num;
        }else if(id == "btn_minus"){
            num = Number(document.getElementById("amount").value)-1;
            document.getElementById("amount").value = num;
            if(num < 1){
                document.getElementById("amount").value = 1;
            }
        }
    }
</script>

</body>
</html>