<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>

<body class="bg-light">
<!-- 네비게이션바-->
<div th:replace="fragments.html :: main-nav"></div>

<!--메일 인증 경고창-->
<div class="alert alert-warning" role="alert" th:if="${account != null && !account.emailVerified}">
    금산인삼 온라인매장 가입을 완료하려면 <a class="alert-link" th:href="@{/check-email}">계정 인증 이메일을 확인</a>하세요.
</div>

<!--메인 화면-->
<div class="container">
    <!--  margin-top:5    -->
    <div class="row mt-5 justify-content-center">
        <div class="col-2">
            <div th:replace="fragments.html :: mypage-menu(currentMenu='cart')"></div>
        </div>
        <div class="col-8">
            <p>장바구니</p>

            <div class="mb-1">
                <button class="btn btn-secondary btn-sm" onclick="checkAll()">전체선택</button>
                <button class="btn btn-secondary btn-sm" th:onclick="removeProductInCart()">선택삭제</button>
            </div>

                <table class="table table-bordered table-hover text-center">
                    <tr>
                        <th class="size_sm">선택</th>
                        <th class="size_bg">주문상품</th>
                        <th class="size_md">판매가</th>
                        <th class="size_md">수량</th>
                        <th class="size_md">합계</th>
                    </tr>

<!--                    <tr th:each="product: ${cartList}" th:object="${cartObject}" action="#" id="cartForm" method="post">-->
                    <th:block th:each="product, index: ${cartList}">
                    <tr th:id="${'productInfo_'+index.index}">
                        <td><input class="cb_select" type="checkbox"></td>
                        <td class="productName" th:text="${product.name}"></td>
                        <td class="productPrice" th:text="${product.price}+'원'"></td>
                        <td>
                            <div class="number_plus_minus">
                            <button class="btn_minus" th:id="${'btn_minus_' + index.index}" th:onclick="updateInput('minus', [[${index.index}]])">-</button>
                            <input class="productAmount text-center" th:id="${'amount_' + index.index}" type="text" value=1>
                            <button class="btn_plus" th:id="${'btn_plus_' + index.index}" th:onclick="updateInput('plus', [[${index.index}]])">+</button>
                            </div>
                        </td>
                        <td class="productsPrice" th:text="${product.price} * 1 +'원'">판매가 * 수량</td>
                    </tr>
                    </th:block>

                    <tr>
                        <td id="Total" colspan="5" class="text-right"> 상품 구매 금액 ${} + 배송비 ${} = 전체 합계 ${} </td>
                    </tr>
                </table>


            <div align="right">
                <button class="btn btn-info btn-lg">전체상품 주문하기</button>
                <button class="btn btn-info btn-lg">선택상품 주문하기</button>
                <button class="btn btn-secondary btn-lg">계속 쇼핑하기</button>
            </div>

        </div>
    </div>

    <!-- 푸터-->
    <div th:replace="fragments.html :: footer"></div>

</div>


<script th:replace="fragments.html :: form-validation"></script>

<script>
    function checkAll() {
        cb = document.querySelectorAll(".cb_select");
        cb.forEach(function(c){
                c.checked = true;
        });
    }
</script>

<div sec:authorize="isAuthenticated()">
    <script th:replace="fragments.html :: ajax-csrf-header"></script>
</div>
<script>
    function removeProductInCart(){
        var remainPrice = 0;
        cb = document.querySelectorAll(".cb_select");

        for(i=0; i<cb.length; i++){
            product = document.getElementById('productInfo_'+i);
            if(cb[i].checked){
                productName = product.querySelector(".productName").innerHTML;

                $.ajax({
                    dataType: "json",
                    autocomplete: {
                        enabled: true,
                        rightKey: true,
                    },
                    contentType: "application/json; charset=utf-8",
                    method: "POST",
                    url: "/cart/remove",
                    data: JSON.stringify({"name" : productName}),
                }).done(function (data, status) {
                });

                product.remove();

            }else{
                remainPrice += Number(product.querySelector(".productsPrice").innerHTML.slice(0,-1));
            }
        }
        document.getElementById('Total').innerText = '전체 합계 : ' + remainPrice + '원';
    }
</script>

<script>
    function updateInput(func, desc) {
        if(func == "plus"){
            num = Number(document.getElementById('amount_'+String(desc)).value)+1;
            document.getElementById('amount_'+String(desc)).value = num;
        }else if(func == "minus"){
            num = Number(document.getElementById('amount_'+String(desc)).value)-1;
            document.getElementById('amount_'+String(desc)).value = num;
            if(num < 1){
                document.getElementById('amount_'+String(desc)).value = 1;
            }
        }
    }
</script>

<script>
    function productPriceAll(){
        var total = 0;
        productPrice = document.querySelectorAll(".productsPrice");
        productPrice.forEach(function(price){
            total += Number(price.innerText.slice(0, -1));
        });
        document.getElementById('Total').innerText = '전체 합계 : ' + total + '원';
    }
    productPriceAll();
</script>
</body>
</html>