<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>

<body class="bg-light">
<!-- 네비게이션바-->
<div th:replace="fragments.html :: main-nav"></div>

<!--메일 인증 경고창-->
<div class="alert alert-warning" role="alert" th:if="${account != null && !account.emailVerified}">
    금산인삼 온라인매장 가입을 완료하려면 <a class="alert-link" th:href="@{/check-email}">계정 인증 이메일을 확인</a>하세요.
</div>
<!--메인 화면-->
<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-3">
            <img class="card-img-top" src="https://picsum.photos/seed/picsum/286/180" alt="Card image cap">
        </div>
        <div class="col-6">
            <p class="lead" th:text="${productForm.name}"></p>
            <p class="lead">원산지 : <span th:text="${productForm.origin}"></span></p>
            <p class="lead">용량 : 1개 &times; <span th:text="${productForm.amount}"></span>팩</p>
            <p class="lead price">가격 : <span th:text="${productForm.price}"></span></p>
            <p style="color:red" th:if="${productForm.numberOf}<5"> 품절 임박</p>
            <button th:href="@{/order}" class="btn btn-info">주문하기</button>
            <button class="btn btn-info"  th:onclick="addCart([[${productForm.name}]]);"
                    data-toggle="modal" data-target="#myCart">장바구니</button>

            <!-- The Modal -->
            <div class="modal" id="myCart">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h6 class="modal-title">장바구니 담기</h6>
                            <button class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            장바구니에 상품이 정상적으로 담겼습니다.
                        </div>

                        <!-- Modal footer -->
                        <div class= "modal-footer">
                            <a th:href="@{/mypage/cart}" class="btn btn-info">장바구니 이동</a>
                            <button data-dismiss="modal" class="btn btn-secondary">쇼핑계속하기</button>
                        </div>

                    </div>
                </div>
            </div>

            <!--좋아요버튼-->
            <div class="tooltip_btn">
                <span id="heart" sec:authorize="isAuthenticated()" th:if="account!=null">
                    <span th:if="${isLiked=='true'}">
                        <a th:onclick="likedRequest([[${productForm.name}]]);" style="font-size:24px; color:white;" class="btn btn-info fa fa-heart"></a>
                    </span>
                    <span th:if="${isLiked=='false'}">
                        <a th:onclick="likedRequest([[${productForm.name}]]);" style="font-size:24px; color:white;" class="btn btn-info fa fa-heart-o"></a>
                    </span>
                </span>
                <span id="num_like" class="tooltiptext" th:text="'&#x2661;'+${productForm.liked}"></span>
            </div>
        </div>
    </div>

    <div class="col-9 mt-5 ml-auto mr-auto nav-justified">
        <!--메뉴-->
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-product-tab" data-toggle="tab" href="#nav-product" role="tab" aria-controls="nav-product" aria-selected="true">상품소개</a>
                <a class="nav-item nav-link" id="nav-review-tab" data-toggle="tab" href="#nav-review" role="tab" aria-controls="nav-review" aria-selected="false">후기</a>
            </div>
        </nav>

        <!--본문-->
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-product" role="tabpanel" aria-labelledby="nav-product-tab">
                <div th:utext="${productForm.description}">   </div>
            </div>

            <div class="tab-pane fade mb-3" id="nav-review" role="tabpanel" aria-labelledby="nav-review-tab">
                <h5 class="mt-2">후기(개수)</h5>
                <div id="review_frame" class="row" th:each="review : ${reviews}">
                    <div class="col-2">
                        <img id="review_profile" src="https://i.pinimg.com/474x/72/7a/49/727a499ce8bddcf40ba8f62ca7ead22c--school-icon-icon-icon.jpg"></img>
                    </div>
                    <div class="col-10">
                        <p class="pull-right">좋아요: <span th:text="${review.liked}"></span></p>
                        <h5 th:text="${review.getAuthor().nickname}">Special title treatment</h5>
                        <span>*****</span> <span th:text="${review.created}"></span>
                        <p th:text="${review.contents}">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 푸터-->
        <div th:replace="fragments.html :: footer"></div>    </div>

</div>

</div>

<div sec:authorize="isAuthenticated()">
    <script th:replace="fragments.html :: ajax-csrf-header"></script>
</div>

<script type="application/javascript" th:inline="javascript">
    function likedRequest(productName) {
        $.ajax({
            dataType: "json",
            autocomplete: {
                enabled: true,
                rightKey: true,
            },
            contentType: "application/json; charset=utf-8",
            method: "POST",
            url: "/liked",
            data: JSON.stringify({"name" : productName}),
        }).done(function (data, status) {
        });
        var heart;
        function changeHeart(state){
            if(state.classList.contains("fa-heart-o")){
                state.classList.remove("fa-heart-o");
                state.classList.add("fa-heart");

                number = Number(document.querySelector('#num_like').textContent.slice(1))+1;
                document.getElementById("num_like").innerHTML = '&#x2661;' + number;

            }else{
                state.classList.remove("fa-heart");
                state.classList.add("fa-heart-o");

                number = Number(document.querySelector('#num_like').textContent.slice(1))-1;
                document.getElementById("num_like").innerHTML = '&#x2661;' + number;
            }
        }
        heart = document.querySelector("#heart a");
        changeHeart(heart);
    };
</script>
<script type="application/javascript" th:inline="javascript">
    function addCart(productForm) {
        $.ajax({
            dataType: "json",
            autocomplete: {
                enabled: true,
                rightKey: true,
            },
            contentType: "application/json; charset=utf-8",
            method: "POST",
            url: "/cart/add",
            data: JSON.stringify({"name" : productForm}),
        }).done(function (data, status) {
        });
    };
</script>
<script>numberWithCommas();</script>
</body>
</html>