<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>

<body class="bg-light">
<!-- 네비게이션바-->
<div th:replace="fragments.html :: main-nav"></div>

<!--메일 인증 경고창-->
<div class="alert alert-warning" role="alert" th:if="${account != null && !account.emailVerified}">
    금산인삼 온라인매장 가입을 완료하려면 <a class="alert-link" th:href="@{/check-email}">계정 인증 이메일을 확인</a>하세요.
</div>
<!--메인 화면-->
<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-3">
            <img class="card-img-top" src="https://picsum.photos/seed/picsum/286/180" alt="Card image cap">
            <p class="lead text-center mt-3" th:text="${productForm.name}">  </p>
        </div>
        <div class="col-6">
            <p class="lead">원산지 : <span th:text="${productForm.origin}"></span></p>
            <p class="lead">용량 : 1개 &times; <span th:text="${productForm.amount}"></span>팩</p>
            <p class="lead">가격 : <span th:text="${productForm.price}"></span></p>
            <p th:if="${productForm.numberOf}<5"> 품절 임박</p>
            <a th:href="@{/order}" class="btn btn-info">주문하기</a>
            <a th:href="@{/mypage/cart}" class="btn btn-info">장바구니</a>
        </div>

    </div>

    <div class="row mt-3 justify-content-center">
        <!--메뉴-->
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-intro-tab" data-toggle="pill" href="#v-pills-profile"
                   role="tab" aria-controls="v-pills-profile" aria-selected="true">
                    상품 소개
                </a>

                <a class="nav-link" id="v-pills-study-tab" data-toggle="pill" href="#v-pills-study"
                   role="tab" aria-controls="v-pills-study" aria-selected="false">
                    후기

                </a>
            </div>

        </div>
        <!--본문-->
        <div class="col-6">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    상품 소개
                </div>
                <div class="tab-pane fade" id="v-pills-study" role="tabpanel" aria-labelledby="v-pills-intro-tab">
                    후기
                </div>
            </div>

        </div>
    </div>
    <!-- 푸터-->
    <div th:replace="fragments.html :: footer"></div>
</div>

</body>
</html>