<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>

<body class="bg-light">
<!-- 네비게이션바-->
<div th:replace="fragments.html :: main-nav"></div>

<!--메일 인증 경고창-->
<div class="alert alert-warning" role="alert" th:if="${account != null && !account.emailVerified}">
    금산인삼 온라인매장 가입을 완료하려면 <a class="alert-link" th:href="@{/check-email}">계정 인증 이메일을 확인</a>하세요.
</div>
<!--메인 화면-->
<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-3">
            <img class="card-img-top" src="https://picsum.photos/seed/picsum/286/180" alt="Card image cap">
            <p class="lead text-center mt-3" th:text="${productForm.name}">  </p>
        </div>
        <div class="col-6">
            <p class="lead">원산지 : <span th:text="${productForm.origin}"></span></p>
            <p class="lead">용량 : 1개 &times; <span th:text="${productForm.amount}"></span>팩</p>
            <p class="lead">가격 : <span th:text="${productForm.price}"></span></p>
            <p style="color:red" th:if="${productForm.numberOf}<5"> 품절 임박</p>
            <button th:href="@{/order}" class="btn btn-info">주문하기</button>
            <button class="btn btn-info"  th:onclick="addCart([[${productForm.name}]]);"
                    data-toggle="modal" data-target="#myCart">장바구니</button>

            <!-- The Modal -->
            <div class="modal" id="myCart">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h6 class="modal-title">장바구니 담기</h6>
                            <button class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            장바구니에 상품이 정상적으로 담겼습니다.
                        </div>

                        <!-- Modal footer -->
                        <div class= "modal-footer">
                            <a th:href="@{/mypage/cart}" class="btn btn-info">장바구니 이동</a>
                            <button data-dismiss="modal" class="btn btn-secondary">쇼핑계속하기</button>
                        </div>

                    </div>
                </div>
            </div>

            <!--좋아요버튼-->
            <div class="tooltip_btn">

                <span id="heart" sec:authorize="isAuthenticated()" th:if="account!=null">
                    <span th:if="${isLiked=='true'}">
                        <a th:onclick="likedRequest([[${productForm.name}]]);" style="font-size:24px; color:white;" class="btn btn-info fa fa-heart"></a>
                    </span>
                    <span th:if="${isLiked=='false'}">
                        <a th:onclick="likedRequest([[${productForm.name}]]);" style="font-size:24px; color:white;" class="btn btn-info fa fa-heart-o"></a>
                    </span>
                </span>

                <span id="num_like" class="tooltiptext" th:text="'&#x2661;'+${productForm.liked}"></span>
            </div>
        </div>
    </div>

    <div class="row mt-3 justify-content-center">
        <!--메뉴-->
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-intro-tab" data-toggle="pill" href="#v-pills-profile"
                   role="tab" aria-controls="v-pills-profile" aria-selected="true">
                    상품 소개
                </a>

                <a class="nav-link" id="v-pills-study-tab" data-toggle="pill" href="#v-pills-study"
                   role="tab" aria-controls="v-pills-study" aria-selected="false">
                    후기

                </a>
            </div>

        </div>
        <!--본문-->
        <div class="col-6">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    상품 소개
                </div>
                <div class="tab-pane fade" id="v-pills-study" role="tabpanel" aria-labelledby="v-pills-intro-tab"
                     th:each="review : ${reviews}">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${review.getAuthor().nickname}">Special title treatment </h5>
                            <span th:text="${review.created}"></span> 좋아요: <span th:text="${review.liked}"></span>
                            <p class="card-text" th:text="${review.contents}">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- 푸터-->
    <div th:replace="fragments.html :: footer"></div>
</div>


<script th:replace="fragments.html :: ajax-csrf-header"></script>
<script type="application/javascript" th:inline="javascript">
    function likedRequest(productName) {
        $.ajax({
            dataType: "json",
            autocomplete: {
                enabled: true,
                rightKey: true,
            },
            contentType: "application/json; charset=utf-8",
            method: "POST",
            url: "/" + productName +"/liked",
            data: JSON.stringify({"product" : productName}),
        }).done(function (data, status) {
        });
        var heart;
        function changeHeart(state){
            if(state.classList.contains("fa-heart-o")){
                state.classList.remove("fa-heart-o");
                state.classList.add("fa-heart");

                number = Number(document.querySelector('#num_like').textContent.slice(1))+1;
                document.getElementById("num_like").innerHTML = '&#x2661;' + number;

            }else{
                state.classList.remove("fa-heart");
                state.classList.add("fa-heart-o");

                number = Number(document.querySelector('#num_like').textContent.slice(1))-1;
                document.getElementById("num_like").innerHTML = '&#x2661;' + number;
            }
        }
        heart = document.querySelector("#heart a");
        changeHeart(heart);


    };
</script>
<script type="application/javascript" th:inline="javascript">
    function addCart(productForm) {
        $.ajax({
            dataType: "json",
            autocomplete: {
                enabled: true,
                rightKey: true,
            },
            contentType: "application/json; charset=utf-8",
            method: "POST",
            url: "/cart/add/"+productForm,
            data: JSON.stringify({"product" : productForm}),
        }).done(function (data, status) {
        });
    };
</script>
</body>
</html>